.navigation a {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.navigation a:hover,
.navigation a:focus {
  color: #404bbf;
}

.contacts a:hover,
.contacts a:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  letter-spacing: 0.02em;
}
